@charset "UTF-8";
/**
 * @author Michael Haschke, http://eye48.com/
 *
 */

@media screen, projection
{
    /*------------------------------------------------------------------------*/
    /* LAYOUT                                                                 */
    /*------------------------------------------------------------------------*/
    
    body
    {
        color:#333;
        background-color:#eee;
    }
    
    .page_margins
    {
        width: auto;
        min-width: 740px;
        max-width: 65em;
        margin: auto;
        padding:1em 2em;
    }
    
    body.foafPerson .page_margins
    {
        min-width:inherit;
        max-width:84em;
    }

    div.page
    {
        background-color:#fff;
        padding:1em; margin:1em auto;
        position:relative;
        -moz-box-shadow:0 0 0.5em rgba(0,0,0,0.125);
        border:solid 1px #e8e8e8;
    }

    #header
    {
        color:#000;
        background-color:#ddd;
        border-bottom:solid 1px #f8f8f8;
        padding:1em 0;
    }
    
    body.foafPerson #header .page_margins
    {
        position:relative;
    }

    #header .page_margins > *
    {
        margin-right:30%;
        padding-right:2em;
    }

    #header .depiction
    {
        display:block;
        position:absolute;
        width:26%; height:80%;
        left:70%; top:10%;
        margin:0 0 0 -2em;
        padding:0 2%;
        overflow:hidden;
    }
    
    #header .depiction img
    {
        display:block;
        margin:0 auto;
        max-width:100%;
        max-height:100%;
    }
    
    #main
    {
    }
    
    #footer
    {
        color:#fff;
        background-color:#555;
        width:100%;
    }
    
    #footer a { color: #fff; }
    #footer p { padding:0.5em 0; margin:0; font-size:0.8em; }
    
    .subc, .subcl, .subcr
    {
        padding-bottom:1em;
        overflow:hidden;
    }
    
    .subc
    {
        padding-left:1em;
        padding-right:1em;
    }
    
    .highlighted
    {
        background-color:#eee;
        color:#000;
    }
    
    .highlighted a
    {
    }
    
    a
    {
        text-decoration:underline;
        color:#000;
    }
    
    a:hover, a:focus
    {
        text-decoration:none;
    }
    
    
    /*------------------------------------------------------------------------*/
    /* NAVIGATION                                                             */
    /*------------------------------------------------------------------------*/

    ul.tabs-list
    {
        margin:0;
        padding:0 0.5em;
        list-style:none;
        position:relative;
        background:transparent;
        background-color:#eee;
        background-color:rgba(239,239,239,0.85);
        border:solid 1px #bbb;
        border-style:none solid;
    }
    
    ul.tabs-list li
    {
        margin:2px 2px 0 0; padding:0;
        float:left;
        line-height:1;
        border-color:#000;
        border-width:1px;
        border-style:none none solid none;
        position:relative;
        bottom:-1px;
    }
    
    ul.tabs-list li a
    {
        display:block;
        padding:0.6em;
        background-color:#666;
        color:#fff;
        border-width:1px;
        border-style:none;
        opacity:0.75;
    }
    
    ul.tabs-list li.active
    {
        border-style:solid none;
        border-width:2px 1px 1px 1px;
        margin-top:0;
        border-bottom-style:none;
    }
    
    ul.tabs-list li.active a
    {
        background-color:#fff;
        color:#000;
        border-color:#fff #ccc;
        border-style:none solid solid solid;
        opacity:1;
    }
    
    ul.tabs-list a
    {
        text-decoration:none;
    }
    
    ul.tabs-list a:hover, ul.tabs-list a:focus
    {
        text-decoration:underline;
        opacity:1;
    }
    
    a.skip:hover, a.skip:focus
    {
    }
    
    /*------------------------------------------------------------------------*/
    /* TYPOGRAPHIE                                                            */
    /*------------------------------------------------------------------------*/
    
    body
    {
        font-family:serif;
        font-size:100.1%;
    }
    
    .page_margins
    {
        font-size:0.9em;
        line-height:1.8;
    }
    
    .sidecontent
    {
        font-family:sans-serif;
        font-size:0.8em;
    }

    h1, h2, h3, h4
    {
        font-family:sans-serif;
        font-weight:bold;
        margin:0;
        color:#000;
    }
    
    h1 { font-size:2.5em; line-height:1.44em; margin:0.18em 0; text-shadow:1px 1px 2px #fff;}
    h2 { font-size:1.25em; line-height:1.44; /* padding:0.3375em 0; */ /*margin:0.675em 0;*/ margin-bottom:0.72em; }
    h3 { font-size:1.125em; line-height:1.333; /*margin:0.8em 0;*/ margin-bottom:0.8em; border-bottom:solid 1px #eee; }    
    h4 { font-size:1em; line-height:1.8; /* margin:0.9em 0;*/ margin-bottom:0.9em; }

    #main h3 { color:#333; }
    #main h4 { color:#111; }
    
    h2 a { text-decoration:none; }
    
    p, ul, ol, blockquote, dl, table
    {
        margin-bottom:0.9em;
    }
    
    .tagline
    {
        font-size:1.5em; line-height:1.2; margin-bottom:0.6em;
        text-shadow:1px 1px 2px #fff;
        color:#000;
    }
    
    .tagline strong
    {
        font-weight:500;
    }
    
    
    ul, ol, dl
    {
       font-size:1em;
       margin:0 0 0.9em 1.25em; padding:0;
       line-height:inherit;
    }
    
    ul
    {
    }
    
    ol
    {
        margin-left:2em;
    }
    
    li
    {
        margin:0; padding:0;
        line-height:inherit;
    }
    
    dl
    {
        margin-left:0;
    }
    
    dt, dd
    {
        margin:0; padding:0;
    }
    
    dd
    {
        list-style:square;
        margin-left:1.25em;
        display:list-item;
    }
    
    dt.inline:after
    {
        content:':';
    }
    
    dd.inline + dt.inline:before
    {
    }
    
    dd.inline
    {
        white-space:nowrap;
    }
    
    dd.inline:after, li.inline:after
    {
        content:',';
    }
    
    dd:last-child.inline:after, li:last-child.inline:after
    {
        content:'';
    }
    
    table {
        background-color:transparent;
        width:100%;
        margin-top:1em;
        margin-bottom:1em;
        border-collapse:collapse;
        border-spacing:0;
        empty-cells:show;
        caption-side:top;
        table-layout:auto;
        font-size:0.9em;
        line-height:1.667;
        margin-bottom:1.667em;
    }

    th, td {
        padding:0.4em 0.4em;
        text-align:left;
        border-style:solid none;
        border-width:1px;
        vertical-align:top;
    }
    
    td
    {
        border-top-style:none;
    }
    
    tr.hl td
    {
    }
    
    .inline
    {
        display:inline;
        list-style-type:none;
        margin-left:0; padding-left:0;
        margin-right:0; padding-right:0;
    }
    
    ul.inline, ol.inline
    {
        display:inline-block;
    }
    
    /*------------------------------------------------------------------------*/
    /* FORMULARE                                                              */
    /*------------------------------------------------------------------------*/
    
    form
    {
        padding:0.5em;
        position:relative;
        top:-0.5em;
    }
    
    input, textarea, button, label, select
    {
        font-size:1em;
        font-family:sans-serif;
        display:inline-block;
        vertical-align:middle;
    }
    
    input, label, select
    {
        width:48%;
        margin:0.25em 1% 0.25em 0;
        padding:0.25em 0;
    }
    
    textarea
    {
        width:99%;
        /*height:15em;*/
    }
    
    /*------------------------------------------------------------------------*/
    /* BILDER                                                                 */
    /*------------------------------------------------------------------------*/
    
    img
    {
        vertical-align:middle;
    }
}
